-
  const year = new Date().getFullYear()

div.footer-container
  div.footer-note
    p.footer-note-line このポートフォリオは、あえてJavascriptを使用せずに作成されています。
  div.footer-copy-light
    small @ #{year} IIDA DAITI
